.register {
  width: 400px;
}

.form {
  max-width: 400px;
  margin: 2rem auto;
}

select {
  font: inherit;
  padding: 0.3rem 0.7rem;
}

label {
  width: 100%;
  display: block;
  color: #333333;
  margin: 1.5rem 0 0.5rem;
}

input {
  width: 100%;
  font: inherit;
  padding: 0.3rem 0.7rem;
}

textarea {
  width: 100%;
  font: inherit;
  padding: 0.3rem 0.7rem;
  height: 8rem;
}

.btn {
  text-decoration: none;
  font: inherit;
  padding: 0.5rem 1rem;
  background-color: #80a56e;
  border: 1px solid #80a56e;
  border-radius: 4px;
  color: #fffdfd;
}
.delete-btn {
  background-color: #b83737;
  border: 1px solid #b83737;
  padding: 0.5rem 1rem;
}

.btn:hover {
  cursor: pointer;
  background-color: #6c8b5c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.delete-btn:hover {
  background-color: #bb2222;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.feature {
  margin: 2px 4px;
}

.selected {
  font-size: 2.5rem;
}

.feature:hover,
.feature:active {
  cursor: pointer;
}
