.register {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font: inherit;
}

.coldisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rowdisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.showimg {
  display: inline;
}


.caption {
  position: absolute;
  display: block;
  background-color: rgba(128, 128, 128, 0.46);
  padding: 0 1rem;
  color: white;
  margin: 0 auto;
}

.image {
  max-width: 1200px;
}

.caption p {
  font: inhterit;
  font-size: 1.2rem;
  font-weight: 600;
}

.item-form {
  display: inline-block;
  width: 15rem;
  margin: 1rem auto;
}

.item-form{
  width: 20rem;
  text-align: center;
  margin: 0 1rem;
}

.stuff-title {
  margin: 1rem 1rem 0 1rem;
}

.stuff-price {
  margin: 0;
}

.stuff-desc {
  margin: 0 0 1rem 0;
}

.image:hover {
  cursor: pointer;
}

button {
  display: inline-block;
  text-decoration: none;
  font: inherit;
  margin: 0.3rem;
  padding: 0.8rem 1rem;
  background-color: #80a56e;
  border: 1px solid #80a56e;
  border-radius: 4px;
  color: #fffdfd;
}

button:hover {
  cursor: pointer;
  background-color: #6c8b5c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}
