.interior-list {
  margin: 3rem auto;
  padding: 0;
}

.interior-list ul {
  display: grid;
  grid-template-columns: repeat(4, 1.5fr);
  grid-template-rows:auto;
}

.interior-list .new {
  text-align: end;
}

.interior-list li {
  display: grid;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  width: 16rem;
  height: 22rem;
  overflow: hidden;
  margin: 1.5rem;
  padding: 0.5rem;
  transition: 0.3s;
}

.interior-list li:hover {
  cursor: pointer;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.interior-list img {
  margin: 0.3rem auto;
  height: 14rem;
  width: 90%;
  object-fit: contain;
  border-radius: 4px;
}

.interior-list h4 {
  margin: 0.2rem 0;
  color: #4b4a4a;
  font-weight: bold;
}

.interior-list p {
  margin: 0.2rem 0;
  color: #4b4a4a;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font: inherit;
  padding: 0.8rem 1rem;
  background-color: #80a56e;
  border: 1px solid #80a56e;
  border-radius: 4px;
  color: #fffdfd;
}

.btn:hover {
  cursor: pointer;
  background-color: #6c8b5c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}
