.img-frame {
    display: flex;
    margin: 0 auto;
    position: relative;
    text-align: center;
    justify-content: center;
    gap: 1rem;
}

.img {
    padding: 0;
    margin: 0;
}

.stuff-title {
    margin: 0;
}

.stuff-price {
    margin: 0;
}

.stuff-desc {
    margin: 0;
}

@media(max-width: 60rem) {
    .img-frame {
        display: flex;
        flex-direction: column;
    }

}

