.item {
    width: 17rem;
}

.interior-info {
    font: inherit;
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
}


.item-title, .item-price, .item-desc {
    margin: 0.3rem 0;
}

.item-addr {
    color: grey
}
