.img-frame {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    justify-content: center;
}

.stuff-title {
    margin: 0;
}

.stuff-price {
    margin: 0;
}

.stuff-desc {
    margin: 0;
}

.interior-info {
    margin-left: 1rem;
}
