.header {
  background-color: #eed9d96e;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.icon {
  display: none;
}

.nav {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.nav ul {
  display: flex;
  gap: 2rem;
  width: 100%;
  padding: 0;
  list-style: none;
}

.nav .auth {
  margin: 0 3rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.nav a {
  color: #939393;
  font-weight: bold;
  text-decoration: none;
}

.logout {
  color: #939393;
  font-weight: bold;
  text-decoration: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0px;
}

.nav .active,
.nav a:hover,
.logout:hover {
  color: #796c6c;
  text-decoration: underline;
  background-color: transparent;
  box-shadow: none;
}

@media (max-width: 1000px) {
  .header {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .icon {
    display: contents;
    cursor: pointer;
  }

  .nav {
    transition: all 0.3s ease-out;
    height: 0px;
    overflow: hidden;
  }

  .nav ul {
    display: flex;
    flex-direction: column;
  }

  .nav.show {
    display: block;
    height: 200px;
  }
}
